@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.bt-left {
  border-bottom-left-radius: 10rem;
}

.tp-right {
  border-top-right-radius: 10rem;
}

.button {
  border: none;
  width: 14rem;
  height: 5rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.btn-white-red {
  background-color: $white;
  color: $lred;

  &:hover {
    background-color: $vlred-hover;
    color: $white;
  }
}

.a_tag {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: $vdblue;

  @include breakpoint-up(medium) {
    color: $white;
  }
}

.hidden_item {
  border-radius: 0.5rem;
  cursor: pointer;
  @include breakpoint-down(small){
    background-color: hsl(240, 7%, 94%);
    width: 100%;
    margin-top: 2.4rem;
  }
  @include breakpoint-up(medium) {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $white;
    width: 16.8rem;
    padding: 3.4rem 2.4rem;
    margin-top: 2.4rem;
    animation: reveal 0.3s ease-in-out forwards;
  }

  li {
    list-style: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: $vdblackblue;

    @include breakpoint-down(small){
      color: hsl(206, 19%, 46%);
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.animate {
  animation: hamburger 0.4s linear forwards;
}

.animate_arrows_small {
  &::after {
    animation: arrow_animate 0.1s linear forwards;
  }
}
