.header {
  background: linear-gradient(135deg, $vlred, $lred);
  height: 60rem;

  .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 5.6rem 2.4rem;

    @include breakpoint-up(medium) {
      padding: 5.5rem 16rem 5.5rem 16.6rem;
    }

    img {
      height: 3.4rem;
      width: auto;
    }

    .hamburger {
      align-items: center;

      img {
        height: 2rem;
        width: auto;
      }
      @include breakpoint-up(medium) {
        display: none;
      }
    }

    .fs__tags {
      background: $white;
      border-radius: 0.5rem;

      @include breakpoint-down(small) {
        display: none;
        position: absolute;
        top: 12.6rem;
        left: 0;
        right: 0;
        margin: 0 2.4rem 0 2.4rem;
        height: auto;
        padding: 2.4rem;
        animation: small_s_reveal .3s ease-in-out forwards;
      }

      @include breakpoint-up(medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        margin-left: 6.4rem;
        background: none;
      }

      .fs__lt {
        @include breakpoint-up(medium) {
          display: flex;
          justify-content: space-between;
          width: 31rem;
          height: 6rem;
          align-items: center;
        }

        .lt_a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include breakpoint-down(small) {
            padding-bottom: 3.8rem;
          }

          @include breakpoint-up(medium) {
            position: relative;
            height: 100%;

            &:hover {
              a {
                text-decoration: underline;
                &::after {
                  transform: rotateX(180deg);
                }
              }
              .hidden_item {
                display: block;
              }
            }
          }


          a {
            &::after{
              content: url("../../images/icon-arrow-light.svg");
              padding-left: 0.8rem;
              display: inline-block;

              @include breakpoint-down(small) {
                content: url("../../images/icon-arrow-dark.svg");
                // animation: arrow_animate .1s linear forwards;
              }
            }
          }
          .hidden_item {
            display: none;
            ul {
              padding: 0;
            }
          }
        }
      }

      .fs__rt {
        @include breakpoint-down(small) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: 1px solid $grayishblue;
          margin: 0;

          button{
            background: linear-gradient(to right, $vlred,$lred);
            color: $white;
          }
        }
        a {
          @include breakpoint-down(small) {
            margin-top: 3.6rem;
            margin-bottom: 2.4rem;
          }
          @include breakpoint-up(medium) {
            padding-right: 3rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
