$lred: hsl(356, 100%, 66%);
$vlred-hover: hsl(355, 100%, 74%);
$vdblue: hsl(208, 49%, 24%);
$white: #fff;
$grayishblue: hsl(240, 2%, 79%);
$vdgrayishblue: hsl(207, 13%, 34%);
$vdblackblue: hsl(240, 10%, 16%);
$vlred: hsl(13, 100%, 72%);
$lred: hsl(353, 100%, 62%);
$vdgrayblue: hsl(237, 17%, 21%);
$vddesaturatedblue: hsl(237, 23%, 32%);

